@model Product

<div class="card shadow border-0 mt4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p4">
        <form class="row" method="POST">
            <div class="border p-3">
                @*
                In addition to asp-validation-for for individual fields we also have
                asp-validation-summary for general validation messages.
                It will display all error messages generated in a bulleted list.
                Three flavors are available
                1. asp-validation-summary="All". Displays all error messages.
                2. asp-validation-summary="ModelOnly". Does not display property related validations. That any errors
                that have the key assigned for the ModelState
                3. asp-validation-summary="None". Displays no errors
                *@
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-floating py-2 col-12">
                    @*
                    asp-for is what connects our html to our model fields
                    Note below we do not even have to specify text for label
                    It pulls it directly from the model annotations or the model field itelf if no annotation is present
                    *@
                    <input asp-for="Title" class="form-control border-0 shadow" />
                    <label asp-for="Title" class="ms-0"></label>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    @*
                    asp-for is what connects our html to our model fields
                    Note below we do not even have to specify text for label
                    It pulls it directly from the model annotations or the model field itelf if no annotation is present
                    *@
                    <textarea asp-for="Description" class="form-control border-0 shadow"></textarea>
                    <label asp-for="Description" class="ms-0"></label>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    @*
                    asp-for is what connects our html to our model fields
                    Note below we do not even have to specify text for label
                    It pulls it directly from the model annotations or the model field itelf if no annotation is present
                    *@
                    <input asp-for="ISBN" class="form-control border-0 shadow" />
                    <label asp-for="ISBN" class="ms-0"></label>
                    <span asp-validation-for="ISBN" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    @*
                    asp-for is what connects our html to our model fields
                    Note below we do not even have to specify text for label
                    It pulls it directly from the model annotations or the model field itelf if no annotation is present
                    *@
                    <input asp-for="Author" class="form-control border-0 shadow" />
                    <label asp-for="Author" class="ms-0"></label>
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    @*
                    asp-for is what connects our html to our model fields
                    Note below we do not even have to specify text for label
                    It pulls it directly from the model annotations or the model field itelf if no annotation is present
                    *@
                    <input asp-for="ListPrice" class="form-control border-0 shadow" />
                    <label asp-for="ListPrice" class="ms-0"></label>
                    <span asp-validation-for="ListPrice" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    @*
                    asp-for is what connects our html to our model fields
                    Note below we do not even have to specify text for label
                    It pulls it directly from the model annotations or the model field itelf if no annotation is present
                    *@
                    <input asp-for="Price" class="form-control border-0 shadow" />
                    <label asp-for="Price" class="ms-0"></label>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    @*
                    asp-for is what connects our html to our model fields
                    Note below we do not even have to specify text for label
                    It pulls it directly from the model annotations or the model field itelf if no annotation is present
                    *@
                    <input asp-for="Price50" class="form-control border-0 shadow" />
                    <label asp-for="Price50" class="ms-0"></label>
                    <span asp-validation-for="Price50" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    @*
                    asp-for is what connects our html to our model fields
                    Note below we do not even have to specify text for label
                    It pulls it directly from the model annotations or the model field itelf if no annotation is present
                    *@
                    <input asp-for="Price100" class="form-control border-0 shadow" />
                    <label asp-for="Price100" class="ms-0"></label>
                    <span asp-validation-for="Price100" class="text-danger"></span>
                </div>
                <div class="row mt-3">
                    <div class="col-6 col-md-3 p-1">
                        <button class="btn btn-primary form-control" type="submit">Create</button>
                    </div>
                    <div class="col-6 col-md-3 p-1">
                        <a class="btn btn-outline-primary border form-control" asp-area="Admin" asp-controller="Product"
                            asp-action="Index">Products</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



@*
Add client-side validation in addition to the server-side validation above
Client-side valididation is implemented using jquery from the partial scripts files
in the shared views. The syntax below is generally for consuming a partial view.
*@
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}